body,
div,
html {
  border: 0;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  outline: none;
  padding: 8px;
}

button,
input {
  font-size: 14px;
  height: 40px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: hsla(0,0%,100%,.87);
  cursor: pointer;
  display: inline-block;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 20px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}

.nbs-flexisel-nav-left {
  left: -45px;
  top: 38%!important;
  background: url(../assets/images/themes1.png) no-repeat 1px 3px;
}

.nbs-flexisel-nav-right {
  right: -45px;
  top: 38%!important;
  background: url(../assets/images/themes1.png) no-repeat -23px 3px;
}

ul#flexiselDemo3.nbs-flexisel-nav-left,
ul#flexiselDemo3.nbs-flexisel-nav-right {
  width: 26px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}

.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nbs-flexisel-inner {
  overflow: hidden;
  margin: 0 auto;
}

.nbs-flexisel-item {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.nbs-flexisel-item,
.nbs-flexisel-item>img {
  cursor: pointer;
  position: relative;
}