/*-- Categories --*/
.category-list {
    border: 1px solid #F5F5F5;
	box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
    -moz-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
    -o-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
    -ms-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
    font-family: 'Oxygen', sans-serif;
}
.categories-section {
    padding: 0 0 60px 0;
}
ul.resp-tabs-list.hor_1 {
    background-color: #F5F5F5;
    padding: 35px 0;
}
ul.resp-tabs-list.hor_1 a {
    text-decoration: none;
    color: #f3c500;
    font-size: 15px;
    margin: 25px 0 0 0;
    display: block;
    text-align: center;
}
ul.resp-tabs-list.hor_1 a:hover {
	color:#01a185;
}
span.total {
    color: #fff;
    font-size: 13px;
    background: #01a185;
    padding: 10px 20px;
    margin: 3% 5%;
	width:90%;
	cursor:pointer;
	border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
span.total strong {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: normal;
}
.category {
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.category-img {
	float:left;
	width:25%;
	text-align: center;
}
.category-img img {
	width:75%;
}
.category-info{
	float:left;
	width:30%;
}
.category-info h4 {
    color: #000;
    font-size: 22px;
}
.category-info span {
    color: #000;
    font-size: 12px;
	display:block;
	margin:10px 0;
}
.category-info a {
    color: #f3c500;
	text-decoration:none;
    font-size: 14px;
}
.category-info a:hover {
	color:#01a185;
}
.sub-categories {
    margin-top: 20px;   
	margin-left: 20px;
}
.sub-categories ul li {
    list-style-type: none;
    margin: 20px 0;
    float: left;
    width: 50%;
}
.sub-categories ul li a {
	text-transform: capitalize;
    text-decoration: none;
    color: #244A6F;
    font-size: 15px;
}
.sub-categories ul li a:hover {
	color:#01a185;
}
/*-- //Categories --*/
