.banner {
	background:url('../../../assets/images/banner.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:240px;
	padding:45px 0 0 0;
}
.main-banner {
	background:url('../../../assets/images/banner.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:400px;
	padding:100px 0 0 0;
}
.banner h1 {
	color:#fff;
	font-size: 45px;
}
.banner p {
    color: #fff;
    margin: 10px 0 30px 0;
    font-size: 18px;
}
.banner a {
	text-decoration: none;
    color: #fff;
    font-size: 17px;
    background-color: #f3c500;
    padding: 10px 20px;
}
.banner a:hover {
	background:#01A185;
}
